pandas
numpy
scikit-learn
imblearn
matplotlib
seaborn
shap
captum
streamlit
plotly
xgboost
lightgbm
catboost
smogn
imbalanced-learn
Flask
Flask-WTF
python-dotenv
torch==1.7
rtdl_revisiting_models
pytorch-tabnet2
tab-transformer-pytorch