{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
  <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-light border rounded-5 shadow-sm" style="--bs-nav-link-color: var(--bs-secondary-color); --bs-nav-pills-link-active-color: var(--bs-primary-color-rgb); --bs-nav-pills-link-active-bg: var(--bs-white);">
    <li class="nav-item">
      <button class="nav-link rounded-5" type="button">1. Upload</button>
    </li>
    <li class="nav-item">
      <button class="nav-link active rounded-5" type="button">2. Configure</button>
    </li>
    <li class="nav-item">
      <button class="nav-link rounded-5" type="button">3. Results</button>
    </li>
     <li class="nav-item">
      <button class="nav-link rounded-5" type="button">4. Interpretation</button>
    </li>
  </ul>
</div>
<hr>
    <h3>Step 2: Select Model</h3>
    <p>Dataset: <strong>{{ session.get('filename', 'N/A') }}</strong></p>
    <form method="POST" novalidate>
        {{ form.hidden_tag() }} {# CSRF protection #}

        <p>
            {{ form.prediction_type.label }}<br>
            {{ form.prediction_type() }}
        </p>

        <p>
            {{ form.model.label }}<br>
            {{ form.model() }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const predictionTypeSelect = document.getElementById('prediction_type');
            const modelSelect = document.getElementById('model');

            predictionTypeSelect.addEventListener('change', function () {
                const predictionType = this.value;
                fetch(`/models/${predictionType}`)
                    .then(response => response.json())
                    .then(data => {
                        modelSelect.innerHTML = ''; // Clear existing options
                        data.models.forEach(model => {
                            const option = document.createElement('option');
                            option.value = model.value;
                            option.textContent = model.text;
                            modelSelect.appendChild(option);
                        });
                    });
            });
        });
    </script>
{% endblock %}
