<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Deep Tabular Interpretability</title>
  </head>
  <body>
    <h2>Deep Tabular Interpretability</h2>
    <hr>
    {# This is where flashed messages will go #}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {# This is the main content block for child templates #}
    {% block content %}{% endblock %}
  </body>
</html>
